body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding-top: 60px;
}

/* NAVBAR */
/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 45px;
  background: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

/* SMALL LOGOUT BUTTON */
.logout-btn {
  background: #dc3545;
  border: none;
  color: white;
  padding: 2px 6px;     /* VERY SMALL */
  font-size: 11px;     /* small text */
  border-radius: 3px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #b52a37;
}
.card {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 330px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
