body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 12px;
  max-width: 400px;
}

input, textarea {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

ul { padding: 0; }

li {
  list-style: none;
  background: #020617;
  margin: 6px 0;
  padding: 8px;
  border-radius: 6px;
}

a {
  color: #22c55e;
  cursor: pointer;
}

