body {
  font-family: Arial, sans-serif;
  background: white;
  margin: 0;
  padding-top: 50px;
}

/* NAVBAR */
/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #343a40;
  color: white;

  display: none;              
  align-items: center;        
  padding: 0 10px;
  box-sizing: border-box;
}

/* LOGOUT BUTTON -*/
.logout-btn {
  position: absolute;
  top: 12px;
  right: 10px;               

  background: #dc3545;
  border: none;
  color: white;
  padding: 3px 8px;           
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #b52a37;
}
/* CARDS */
.card {
  background: white;
  padding: 20px;
  width: 320px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  background: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}
